.container {
    max-width: 1200px;
    margin: auto;
}
.flex-mai {
     display: flex;
}
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border:1px solid #333;
    align-content: flex-start;
    align-items: baseline;
}
.flex-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px 0px;
    margin: 5px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #333;
    align-items: stretch;
}
.flex-element {
    box-sizing: content-box;
    border-radius: 5px;
    padding: 10px 15px;
    background: #cccccc;
    color: #333;
    flex-grow: 1;
    border: 1px solid #333;
    margin: 5px;
    align-items: stretch;
}
.flex-element:nth-child(1) {
    /*flex-basis: 250px;
    margin: auto;
    width: 300px;
    flex-shrink: 0;*/
    min-width: 120px;
    max-width: 300px;
    flex: 1 1 auto;
    align-self: flex-start;
}
.flex-element:nth-child(2) {
    /*margin: auto;
    flex-grow: 1;
    width: 100%;
    flex-basis: 250px;*/
    flex: 1 1 auto;
    align-self: flex-start;
}
#navig {
    display: flex;
    flex-flow: column wrap;
}
.img {
    float:left;
    width: 180px;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid #333;
    margin: 0px;
}
.flex-element:nth-child(3) {
    min-width: 120px;
    max-width: 250px;
    flex: 1 1 auto;
    align-self: flex-start;
}
@media (max-width: 980px) {
    .flex-element:nth-child(1), .flex-element:nth-child(3) {
        width: 240px;
        flex-shrink: 1;
    }
}
@media (max-width: 568px) {
    .flex-container {
        width: 100px;
        flex-wrap: wrap;
    }
}
#circle {
    stroke: #33b5e5;
    fill: #ff0000;
    stroke-width: 5;
}

#rect {
    fill:rgb(0,0,255);
    stroke-width:3;
    stroke:rgb(0,0,0);
}

#rect:hover {
    fill:rgb(0,0,0);
    stroke-width:3;
    stroke:rgb(0,0,255);
}
.icon {
    background-image: url("icon.svg");
    width: 90px;
    height: 150px;
}
