.container {
    max-width: 1200px;
    margin: 0 auto;
}
.menu {
    float: left;
    width: 200px;
    background: #FFA500;
    height: 500px;
}
.reklama {
    float: right;
    width: 200px;
    height: 500px;
    background: #0FF;
}
.majn {
    box-sizing: content-box;   
    background: #FFF;
    margin-left: 201px;
    margin-right: 201px;
}
.h3 {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;   
}
.title {
    background: #FFF;
    text-align: center;
}
.img {
    float: left;
    box-sizing: content-box;
    width: 188;
    height: 140px;
    min-width: 188px;
    min-height: 140px;
    text-align: left;
    margin: 0px 10px 10px 10px;
}
.text {
    box-sizing: inherit;
    text-align: justify; 
    margin: 0px 10px 0px 10px;
}
.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
}
header, footer {
    color: blue;
    text-align: center;
    background: powderblue;
}
@media (max-width: 640px) {
    .menu, .reklama {
        width: 100%;
        height: 100%;
        float: none;
    }
    .majn {
        margin: 0 auto;
        height: 100%;
    }
}