
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */