body {
    background-color: white;
}
@font-face { 
	font-family: 'Lobster', cursive;
	font-family: 'Lora', serif;
}
#name-of-book {
	font-family: Lobster;
	box-sizing: border-box;
    padding: 10px;
}
#title-of-book {
    font-family: Lobster;
    box-sizing: border-box;
    padding: 10px;
}
.text-page1{
	font-family: Lora;
	text-align: justify;
	padding: 10px;
}
.heading2{
	font-family: Lobster;
	text-align: center;
}
.heading3{
	font-family: Lobster;
	text-align: center;
}
.heading4{
	font-family: Lobster;
	text-align: left;
}