#title-1 {
  text-align: center;
}
#title-2 {
  text-align: center;
}
#red-star {
  color: red;
}
input {
    background: none;
}
.username-input {
	border: 1px solid green;
}
.password-input {
	border: 1px solid green;
}
input:valid {
  border: 1px solid black;
}
input:invalid {
  border: 2px dashed red;
}
#checkbox-choice1 {
    color: black;
}
#checkbox-choice1:focus {
    color: blue;
}
.comment-textarea {
	border: 1px solid green;
	color: yellow;
}