body {
    background: url('../img/dot-grid.png');
}


.container {
    max-width: 1200px;
    margin: auto;
}
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border:1px solid #333;
    align-content: flex-start;
    align-items: baseline;
}
.flex-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px 0px;
    margin: 5px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #333;
    align-items: stretch;
}
.flex-element {
    border-radius: 5px;
    padding: 10px 15px;
    background: #cccccc;
    color: #333;
    flex-grow: 1;
    border: 1px solid #333;
    margin: 5px;
    align-items: stretch;
}
.flex-element:nth-child(1) {
   /* flex-basis: 250px;
    margin: auto;
    width: 250px;
    flex-shrink: 0;*/
    max-width: 250px;
    flex: 1 1 auto;
    align-self: flex-start;
}
.flex-element:nth-child(2) {
    /*margin: auto;
    flex-grow: 1;
    width: 100%;
    flex-basis: 250px;*/
    flex: 1 1 auto;
    align-self: flex-start;
}
.flex-element:nth-child(3) {
    max-width: 250px;
    flex: 1 1 auto;
    align-self: flex-start;
}

@media (max-width: 980px) {

    .flex-element:nth-child(1), .flex-element:nth-child(3) {
        margin: auto;
        width: 180px;
        flex-shrink: 1;
    }
}

@media (max-width: 640px) {
    .flex-container {
        width: 100px;
        flex-wrap: wrap;
    }
}


/*#basis .container {
    width: 1000px;
    height: 250px;
    display: flex;
    border: 1px solid;
}
#basis .item {
    background: #ddffdd;
    max-width: 130px;
    flex-basis: 200px;
    flex-grow: 1;
}*/